<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile
		    name="LogToFile"
		    fileName="logs/utitlity-service.log"
		    filePattern="logs/utitlity-service.%d{dd-MMM-yyyy}-%i.log"
		    ignoreExceptions="false">
		    <PatternLayout>
		        <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
		    </PatternLayout>
		    <Policies>
		        <OnStartupTriggeringPolicy />
		        	<SizeBasedTriggeringPolicy size="1 MB" />
		        <TimeBasedTriggeringPolicy />
		    </Policies>
		    <DefaultRolloverStrategy max="5" />
		</RollingFile>

    </Appenders>
    <Loggers>
        <Logger name="com.usman.bank" level="debug" additivity="false">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <!-- Log for Spring boot application -->
        <Logger name="org.springframework.boot" level="info" additivity="false">
        	<AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Logger>
         <!-- Log everything in hibernate -->
	    <Logger name="org.hibernate" level="info" additivity="false">
	      	<AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
	    </Logger>
	    <!-- Log hibernate SQL statements -->
	    <Logger name="org.hibernate.SQL" level="info" additivity="false">
	        <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
	    </Logger>
	    <Logger name="org.apache.kafka" level="INFO" additivity="false">
			<AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
		</Logger>
        <Root level="info">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>